
body {
  max-width: 960px;
  margin: 20px;
  font-size: 16px;
  font-family: 'Ubuntu Condensed', sans-serif;
  background-color: #e0e0d1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Ranchers', cursive;
}

.play {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.play h1 {
  font-size: 1.5em;
  text-align: center;
  width: 100%;
}

#userbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.user-play {
    position: relative;
    display: inline-block;
}

.user-choice {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.user-choice p {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.user-choice p:hover {
  background-color: #e0e0d1;
}

.user-play:hover .user-choice {
  display: block;
}

.user-play:hover #userbtn {
  background-color: aqua;
}